@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.NavBar{
    background-color: #6FC0E1;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
}

.NavLink{
    padding: 0 10px;
    color: #ffff;
}
.ProjectLink{
    text-align: center;
    padding: 0 10px;
    color: #ffff;
}

.Active i {
    color: #2d90a9;
}

.Title{
    letter-spacing: 6.5%;
    font-size: 40px;
    color: #ffff!important;
}