.Container{
    background-color: #BEF2FF;
    height: fit-content;
}
.ProjectList{
    list-style: none;
    padding-bottom: 20px;
}
.Cards{
    max-width: 70%;
    margin: auto;
    margin-top: 10px;
}