@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.Body{
    font-family: 'IBM Plex Sans', sans-serif;
    border: 2px solid RGB(172, 172, 172);
    background-color: rgba(172, 172, 172, 0.163) ;
}
.Content{
    padding: 10px;
    margin: 0;
}